<% provide(:title, "Home") %>
<h1>Static Home Page</h1>
<p>This will become the static landing page</p>
<p>Lots of 'pretty' will be required; preferably some video or other cool stuff</p>
<iframe width='100%' src="https://www.cornerstoneondemand.com/">

