// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.powered-by {
	position:absolute;
	top:150px;
	right:0px;
	font-size:0.5em;
}
.powered-by img { height:45px;}